.myphone{
  background:#f1f1f1;
  width: 100%;
  height: 100vh;
  position: relative;
}
.phone_head{
  line-height: 1.4rem;
  height: 1.4rem;
  background:#f9f9f9;
  font-size: 0.5rem;
  font-family:PingFangSC-Semibold;
  color:#333333;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
}
.no_phone{
  background: #f1f1f1;
  width: 100%;
  padding-top: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 12.2rem;
  top:0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.noph{
  padding:0.9rem 0.6rem ;
  color:#acb4c0;
  font-size: 0.4rem;
  line-height: 0.6rem;
  font-family:PingFangSC-Regular;
  text-align: left;
}
.phone_box{
  width: 100%;
  height: 10.7rem;
  position:fixed;
  left:0;
  bottom: 1.5rem;
  background: #fff;
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #d8d8d8 ;

}
.pboxhead {
  height: 1.5rem;
  color:#999999;
  font-size: 0.4rem;
  line-height:1.5rem;
  border-bottom:1px solid #e0dfdf ;
  position: relative;
}
.debtn{
  position: absolute;
  right: 0.2rem;
  top:0.15rem;
  width: 0.8rem;
  height: 0.5rem;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
}
.pbg1{
  position: absolute;
  right: 0.4rem;
  top:0.35rem;
  width: 0.8rem;
  height: 0.5rem;
}
.pbg2{
  position: absolute;
  right: 0.55rem;
  top:0.43rem;
  width: 0.35rem;
  height: 0.35rem;
}
.numphone{ font-size: 0.6rem;color: #666666;}
.pboxm{
  height: 7rem;
  padding: 0.3rem 0.9rem 0;
}
.pboxm li{
  width:2.4rem ;
  height: 1.5rem;
  margin-bottom: 0.3rem;
  float: left;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  color:#666666;
  font-size: 0.85rem;
  font-weight: normal;
  position: relative;
  z-index: 4;

}
.pboxm li:nth-of-type(3n+3){
  margin-right: 0;
}
.pboxm li span{
  position: absolute;
  height: 0.4rem;
  font-size: 0.26rem;
  line-height: 0.4rem;
  left: 0;
  bottom:-0.1rem;
  width: 100%;
  color:#999999;
  z-index: 1;
}
.callbox {
  height: 2.7rem;
  position: relative;
}
.core{
  position: absolute;
  width: 2rem;
  height: 0.8rem;
  left: 1.1rem;
  top:0.1rem;
  font-size: 0.35rem;
  color:#999999;
  line-height: 0.6rem;
}
.callbtn {

  width: 1.4rem;
  height: 1.4rem;
  position: relative;
  margin: 0.2rem auto 0;
}
.callbg1{
  position: absolute;
  left:0;
  top:0;
  height: 1.4rem;
  width: 1.4rem;
}
.callbg2{
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  z-index: 2;
}
.alltapes{

  font-size: 0.35rem;
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  line-height: 0.8rem;
}
.alltapes li{
  text-align: left;
  height: 1.2rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #ccc;

}

.alltapes li img{
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.alltapes li span:nth-of-type(2){
  float: right;
  padding-right: 0.3rem;
}
.player {
  display: -webkit-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 66;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.5)
}
.playerbox{
  position: relative;
  font-size: 0.4rem;
}
.playerbox p{
  position: absolute;
  top:2.2rem;
  left: 0;
  font-size: 0.43rem;
  padding: 0.1rem 0.4rem;
}
.playerbox img{
  display: block;
  width: 8rem;
}
.playerbox strong{
  font-weight: normal;
  position: absolute;
  top:4.2rem;
  line-height: 16px;
  font-size: 0.35rem;
  color: #0387f5;
  left: 0.4rem;
  padding-left: 0.6rem;

}
.laybtn{
  width: 7.2rem;
  height: 1rem;
  position: absolute;
  top:5.1rem;
  margin-left: 0.4rem;
  background:#3278ed;
  border-radius:3px;
  color: #ffffff;
  line-height: 1rem;
  text-align: center;
}
